
<body>


<div id="container">



<div id="headerPan">

<img src="../../../assets/logo.jpg" alt="" name="logo" width="210" height="49" id="logo" />

<img src="../../../assets/slogan.jpg" alt="" name="logo" width="304" height="179" id="slogan" />

<ul class="menu">
    <li class="b01"><a href="#" title="home page">home page</a></li>
    <li class="linem"></li>
    <li class="b02"><a href="#" title="about us">about us</a></li>
    <li class="linem"></li>
    <li class="b03"><a href="#" title="services">services</a></li>
    <li class="linem"></li>
    <li class="b04"><a href="#" title="our team">our team</a></li>
    <li class="linem"></li>
    <li class="b05"><a href="#" title="contact">contact</a></li>
</ul>


</div>

<div id="contentPan">



<h2></h2>

<h3>DOCTOR</h3>
<br />
<br />
<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
   <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
</body>