
<a  href="http://localhost:3000/mantenimientos">Home</a>

<br/>


<h1>Lista doctor</h1>

<%= form_for @search do |f| %>   
 <p>   
<%= f.label :Buscar_por_nombre %>   
<%= f.text_field :name_contains %>   
</p>   
<p class="button"><%= f.submit "Buscar" %> </p>   
<% end %>



<table>
  <tr>
    <th>Nombre</th>
	<th></th>
	<th></th>
    <th>Apellido</th>
	<th></th>
	<th></th>
    <th>Email</th>
	<th></th>
	<th></th>
	<th>Telefono</th>
	<th></th>
	<th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
	<td></td>
	<td></td>
	<td><%= doctor.lastname %></td>
	<td></td>
	<td></td>
	<td><%= doctor.email %></td>
	<td></td>
	<td></td>
	<td><%= doctor.phone %></td>
	<td></td>
	<td></td>
    <td><%= link_to 'Ver', doctor %></td>
    <td><%= link_to 'Editar', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Eliminar', doctor, confirm: 'Seguro que desea eliminar el registro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Doctor', new_doctor_path %>

