
<body>


<div id="container">


<div id="headerPan">

<img src="../../../assets/logo.jpg" alt="" name="logo" width="210" height="49" id="logo" />

<img src="../../../assets/slogan.jpg" alt="" name="logo" width="304" height="179" id="slogan" />

<ul class="menu">
    <li class="b01"><a href="#" title="home page">home page</a></li>
    <li class="linem"></li>
    <li class="b02"><a href="#" title="about us">about us</a></li>
    <li class="linem"></li>
    <li class="b03"><a href="#" title="services">services</a></li>
    <li class="linem"></li>
    <li class="b04"><a href="#" title="our team">our team</a></li>
    <li class="linem"></li>
    <li class="b05"><a href="#" title="contact">contact</a></li>
</ul>


</div>

<div id="contentPan">



<h2></h2>


<p id="notice"><%= notice %></p>
<h1> Doctor </h1>
<p>
  <b>Nombre:</b>
  <%= @doctor.nombre %>
</p>
<p>
  <b>Apellido:</b>
  <%= @doctor.apellido %>
</p>
<p>
  <b>Email:</b>
  <%= @doctor.email %>
</p>
<p>
  <b>Telefono:</b>
  <%= @doctor.telefono %>
</p>

<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Atras', doctors_path %>
</div>
</body>