<p id="notice"><%= notice %></p>
<h1> Doctors </h1>
<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>
<p>
  <b>Last Name:</b>
  <%= @doctor.lastname %>
</p>
<p>
  <b>Email:</b>
  <%= @doctor.email %>
</p>
<p>
  <b>Phone:</b>
  <%= @doctor.phone %>
</p>
<%= link_to 'add_prospectus', add_prospectus_doctor_path(@doctor) %> |
<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Atras', doctors_path %>