<p id="notice"><%= notice %></p>
<h1> Doctor </h1>
<p>
  <b>Nombre:</b>
  <%= @doctor.nombre %>
</p>
<p>
  <b>Apellido:</b>
  <%= @doctor.apellido %>
</p>
<p>
  <b>Email:</b>
  <%= @doctor.email %>
</p>
<p>
  <b>Telefono:</b>
  <%= @doctor.telefono %>
</p>

<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Atras', doctors_path %>