<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @prospectu.codigo %>
</p>
<p>
  <b>Nombre:</b>
  <%= @prospectu.name %>
</p>

<p>
  <b>Email:</b>
  <%= @prospectu.email %>
</p>

<p>
  <b>Direccion:</b>
  <%= @prospectu.address %>
</p>

<p>
  <b>Telefono:</b>
  <%= @prospectu.phonehome %>
</p>

<p>
  <b>Celular:</b>
  <%= @prospectu.phonecel %>
</p>

<p>
<%= image_tag @prospectu.avatar.url %>
<p/>
<%= link_to 'Lista Prospestos', prospectus_path %> |
<%= link_to 'Lista Clientes', clients_path %>
