<h1>Lista de Clientes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.email %></td>
    <td><%= client.address %></td>
    <td><%= client.phonehome %></td>
    <td><%= client.phonecel %></td>
    <td><%= link_to 'Ver', client %></td>
    <td><%= link_to 'Editar', edit_client_path(client) %></td>
    <td><%= link_to 'Eliminar', client, confirm: 'Esta seguro que desea eliminar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Cliente', new_client_path %>
