<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @client.name %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Direccion:</b>
  <%= @client.address %>
</p>

<p>
  <b>Telefono:</b>
  <%= @client.phonehome %>
</p>

<p>
  <b>Celular:</b>
  <%= @client.phonecel %>
</p>


<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atras', clients_path %>
