<h1>Listing patient_histories</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>History</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_histories.each do |patient_history| %>
  <tr>
    <td><%= patient_history.patient %></td>
    <td><%= patient_history.history %></td>
    <td><%= link_to 'Show', patient_history %></td>
    <td><%= link_to 'Edit', edit_patient_history_path(patient_history) %></td>
    <td><%= link_to 'Destroy', patient_history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient history', new_patient_history_path %>
