
<a  href="http://localhost:3000/mantenimientos">Home</a>

<br/>
<h1>Listing histories</h1>

<table>
  <tr>
    <th>Entry</th>
    <th>Discharge</th>
    <th>Symptoms</th>
    <th>Diagnosis</th>
    <th>Treatment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @histories.each do |history| %>
  <tr>
    <td><%= history.entry %></td>
    <td><%= history.discharge %></td>
    <td><%= history.symptoms %></td>
    <td><%= history.diagnosis %></td>
    <td><%= history.treatment %></td>
    <td><%= link_to 'Show', history %></td>
    <td><%= link_to 'Edit', edit_history_path(history) %></td>
    <td><%= link_to 'Destroy', history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New History', new_history_path %>
<%= link_to 'Ir pacientes', patients_path %>
